* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


body {
 font-family: Arial, sans-serif;
 text-align: center;
 margin: 0;
 padding: 20px;
 background-color: #f0f0f0;
 }

h1 {
margin-bottom: 5px;
}

.parrafo 
{
margin-bottom: 20px;
}

.grid {
 display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
max-width: 800px;
margin: 0 auto;
}

.card {
background-color: white;
border-radius: 10px;
padding: 15px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
width: 100%;
height: auto;
border-radius: 8px;
}
.card button {
 margin-top: 10px;
 padding: 10px 20px;
 font-size: 14px;
 cursor: pointer;
 background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
 }

.card button:hover {
 background-color: #0056b3;
}        

.background {
  background-color: #369bee;
  border-radius: 10%;
  width: 100%;
  height: auto;
}


#titulo1 {
  margin-top: 10px;
  font-variant: small-caps;
  font-size: 5vw;
  text-align: center;
  text-shadow: 2px 2px 5px #732fe2;
  font-family: "Sofia", sans-serif;
}


.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.cerrar {
    position: absolute;
    top: 15px; right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #999;
}

.cerrar:hover {
    color: #000;
}

.btn {
  border-radius: 10px;
  color: #000000;
  background-color: #44c5e6;
  padding: 12px 24px;
  border: 2px solid #421ea3;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 30px auto;
  cursor: pointer;
  font-family: "Sofia", sans-serif;
  text-shadow: 1px 1px 4px #732fe2;
  max-width: 90vw; /* agrega esto */
}


.Subtitulo {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  lighting-color: #000000;
  text-shadow: 2px 2px 5px whitesmoke;
}

.descripcion{

  
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  
}

